* {
    font-family:sans-serif;
}
ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color:chartreuse;
}

h1 {
    text-align: center;
}

span{
    justify-content: right;
    justify-items: left ;
}

#img-logo {
    margin-left: -175px;
    height: 35px;
}

/*COLUNA ESQUERDA*/

#container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

#coluna-esquerda {
    background-color: rgb(100, 148, 237);
    min-width: 500px;
}

#formulario {
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}

label, textarea, input, select {
    margin-bottom: 13px;
    border-radius: 7px;
    font-size: 16px;
} 

label {
    font-weight: bold;
}

textarea {
    resize: none;
    height: 100px;
}

input {
    height: 30px;
}

select {
    margin-bottom: 10px;
    height: 30px;
}

#botao-form {
    display: flex;    
    gap: 30px;
}

#botao-form button {
    flex-grow: 1;
    border-radius: 20px;
    height: 30px;
    font-size: large;
    font-weight: bold;
    box-shadow: 8px 8px 20px 0px rgba(8, 8, 8, 0.425);
}

#btn-salvar {
    background-color: rgb(25, 223, 25);
}

#btn-limpar {
    background-color: yellow;
}

#botao-form :hover {
    background-color: blue;
    color: white;
}

/*COLUNA DIREITA*/

#coluna-direita {
    background-color: chartreuse;
    min-width: 200px;
    max-width: 650px;
    flex-direction: row;
}

#div-card { 
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 20px 15px 20px;
    height: 80px;
}
#card-total, #card-soft, #card-front, #card-back, #card-full {
    box-shadow: 8px 8px 20px 0px rgba(8, 8, 8, 0.425);
    border-radius: 10px;
    background-color: white;
    text-align: center;
    width: 100px;
}

.busca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

#txtbusca {
    width: 400px;
    margin-top: 10px;
    border-radius: 20px;
}

.busca button {
    margin-top: 10px;
    height: 35px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
}

.lista {
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 650px;
    /* border: 2px solid red; */
    margin-left: -30px;
    overflow-y: scroll;
}
li {
    /* border: 2px solid red; */
    background-color: antiquewhite;
    border-radius: 10px;
    max-width: 600px;
    max-height: 220px;
    margin:5px 10px 10px -15px ;
    overflow-y:scroll;
    padding: 10px;
}

li::-webkit-scrollbar {
    width: 8px;
} 

li::-webkit-scrollbar-thumb {   
    background: rgb(100, 148, 237);
    border-radius: 5px;
}
li::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 42, 42);
}

.lista::-webkit-scrollbar {
    width: 8px;
} 
.lista::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
}
.lista::-webkit-scrollbar-thumb {
    background: rgb(100, 148, 237);
    border-radius: 5px;
}
.lista::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 42, 42);
}

/* li {
    margin: 10px;
    display: block;
    margin-left: 10px;
    box-shadow: 8px 8px 20px 0px rgba(8, 8, 8, 0.425);
    border-radius: 5px;
    background-color: white;
    list-style: none;
    width: 600px;
    height: auto;
}
li h1{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
 */
