* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
body {
    background-color: rgb(166, 173, 209);
}


#img-logo {
    height: 40px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.coluna-form {
    min-width: 200px;
    max-width: 300px;
}

/* .coluna-cards {
    display: flex; 
    flex-grow: 1;
    
    flex-direction: column;
    border: 3px solid black;
    min-height: 300px;
}*/
#div-card {
    border: 5px solid rgb(173, 9, 9);
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 200px;
    max-width: 600px;
}

label {
    margin-bottom: 4px;
} 
/* #container {
    display: flex;
    flex-wrap: wrap;

} */

/* .coluna-form {
    display: flex;
    justify-content: left;
    flex-direction: column;
} */
/* .coluna-cards {
    display: flex;
    justify-content: right;
    flex-direction: column;
} */
/* 
header {
    text-align: center;
    height: 80px;
    background-color: brown;
    width: 579px;
}
span {
    font-size: 30px;
    color: rgb(5, 5, 68);    
}*/

/*
.form {
    background-color: brown;
    color: white;
    display: flex;
    flex-direction: column;
    float: left;
    height: auto;
    width: auto;
}

label {
    margin-left: 35px;
    font-size: 20px;
}
form input {
    margin: 10px 35px 20px;
    height: 30px;
    width: 500px;
    border-radius: 15px;
}

select {
    margin: 10px 35px 20px;
    height: 35px;
    width: 500px;
    border-radius: 15px;
}
textarea {
    margin: 10px 35px 20px;
    border-radius: 15px;
    resize: none;
}

form button {
    margin: 20px 45px 30px 80px;
    font-size: large;
    height: 40px;
    width: 100px;
}


.coluna-direita {
    display: flex;
    flex-direction: column; 
    border: 5px solid rgb(255, 2, 2);
    height: 660px;
    width: 700px;   
 } */

/* .container-cards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 25px;
    text-align: center;
    height: 100px;

    margin-left: 60px;
    margin-top: -25px;
} */

/* .card {
    box-shadow: 8px 8px 20px 0px rgba(8, 8, 8, 0.425);
    border-radius: 5px;
    background-color: white;
    width: 100px;
    height: 60px; 
}

.busca input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 30px;
}

.busca button {
    width: 50px;
    height: 30px;
    
}
img {
    height: 20px;   
} */

/* .lista::-webkit-scrollbar {
    width: 5px;
} */

/* Track */
/* .lista::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
} */

/* Handle */
/* .lista::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
} */

/* Handle on hover */
/* .lista::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* li {
    margin: 10px;
    display: block;
    margin-left: 10px;
    box-shadow: 8px 8px 20px 0px rgba(8, 8, 8, 0.425);
    border-radius: 5px;
    background-color: white;
    list-style: none;
    width: 600px;
    height: auto;
}
li h1{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
 */
